<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>Attached file:</strong>
  <%= @message.attached_file %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user %>
</p>

<p>
  <strong>Private for:</strong>
  <%= @message.private_for %>
</p>

<p>
  <strong>Room:</strong>
  <%= @message.room %>
</p>

<p>
  <strong>Group:</strong>
  <%= @message.group %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
