<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Salas de bate-papo</strong></a>
    <%= link_to 'Novo', new_theme_path, class: 'item' %>
  </div>

  <h1>Temas de salas</h1>
  <div class="ui cards">
    <% @themes.each do |theme| %>
    <div class="card">
      <div class="content">
        <div class="header">
          <%= theme.name %>
        </div>
      </div>
      <div class="extra content">
        <div class="ui tree buttons">
          <%= link_to 'Selecionar', theme, class: 'ui basic green button' %>
          <%= link_to 'Editar', edit_theme_path(theme), class: 'ui basic blue button' %>
          <%= link_to 'Remover', theme, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'ui basic red button' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
