<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Grupos</strong></a>
    <%= link_to 'Novo', new_group_path, class: 'item' %>
  </div>

  <h3>Meus grupos</h3>
  <div class="ui cards">
    <% current_user.groups.each do |group| %>
    <div class="card">
      <div class="content">
        <div class="header">
          <%= group.name %>
        </div>
      </div>
      <div class="extra content">
        <div class="ui tree buttons">
          <%= link_to 'Entrar', '#', class: 'ui basic green button' %>
          <%= link_to 'Editar', edit_group_path(group.id), class: 'ui basic blue button' %>
          <%= link_to 'Remover', group, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'ui basic red button' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <h3>Grupos que faço parte</h3>

</div>

<!-- <div class="ui cards">

  <div class="card">
    <div class="content">
      <div class="header">Elliot Fu</div>
      <div class="description">
        Elliot Fu is a film-maker from New York.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Add Friend
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="header">Elliot Fu</div>
      <div class="description">
        Elliot Fu is a film-maker from New York.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Add Friend
    </div>
  </div>

</div> -->




