<div class="ui centered grid" style="margin-top: 1em;">
  <div class="row">
    <div class="six wide tablet six wide computer column">
      <h2 class="ui teal image header">
        <!-- <img src="assets/images/logo.png" class="image"> -->
        <div class="content">
          Editar perfil
        </div>
      </h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui large form'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="ui segment">

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.text_field :name, autofocus: true, placeholder: 'Nome' %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.email_field :email, placeholder: 'E-mail' %>
            </div>
          </div>

          <div class="field">
            <i>(Deixe em branco se não quiser alterar)</i>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Senha' %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmar senha' %>
            </div>
          </div>

          <div class="field">
            <i>(Você precisa informar a senha atual para confirmar as alterações)</i>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Senha atual' %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Salvar", class: 'ui fluid large teal submit button' %>
          </div>
          <div class="field">
            <%= link_to "Voltar", :back %>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
</div>


