<div class="ui centered grid" style="margin-top: 1em;">
  <div class="row">
    <div class="six wide tablet six wide computer column">
      <h2 class="ui teal image header">
        <!-- <img src="assets/images/logo.png" class="image"> -->
        <div class="content">
          Fuxico Bate-papo (Cadastro)
        </div>
      </h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ui large form'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="ui segment">

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.email_field :name, autofocus: true, placeholder: 'Nome' %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.email_field :email, placeholder: 'E-mail' %>
            </div>
          </div>

          <div class="field">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres minimo)</em>
            <% end %>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Senha' %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmar senha' %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Entrar", class: 'ui fluid large teal submit button' %>
          </div>
          <div class="field">
            <%= render "users/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
</div>